:root {
  --Eerie-Black: #242423;
  --Jet: #333533;
  --Alabaster: #e8eddf;
}

.App {
  text-align: center;
  background-color: var(--Alabaster);
}

.Header {
  background-color: var(--Jet);
  padding-bottom: 10px;
  border: 1px solid;
}

.Header h1 {
  color: white;
  margin-top: 5px;
  border: 1px;
  margin-bottom: 5px;
}

#Home-link {
  color: var(--Alabaster);
  text-decoration: none;
}
#Gallery-link {
  color: var(--Alabaster);
  text-decoration: none;
}
#Gallery-link-home {
  color: var(--Jet);
  text-decoration: none;
  border: 1px solid var(--Jet);
  padding: 5px;
}
#Services-link {
  color: var(--Alabaster);
  text-decoration: none;
}
#Services-link-home {
  color: var(--Jet);
  text-decoration: none;
  border: 1px solid var(--Jet);
  padding: 5px;
}
#About-link {
  color: var(--Alabaster);
  text-decoration: none;
}
#Contact-link {
  color: var(--Alabaster);
  text-decoration: none;
}
#Contact-link-home {
  color: var(--Alabaster);
  text-decoration: none;
  border: 1px solid var(--Alabaster);
  padding: 5px;
}

.Hetas-section {
  background-color: var(--Jet);
  color: white;
}

.Cta-home {
  background-color: var(--Jet);
  color: white;
}

.Services-icon {
  width: 150px;
  height: 150px;
  background: var(--Jet);
  border-radius: 50%;
}
