:root {
   --Eerie-Black: #252422;
   --Jet: #403d39;
   --Jet-Button: #403d3981;
   --Alabaster: #f4f3ee;
   --Timberwolf: #ccc5b9;
   --Floral-White: #fffcf2;
   --Highlight: #002429;
   --Dark-highlight: #001214;
   --Sharp-highlight: #fdf008;
   --Soft-highlight: #ddd50f;
   --Font-normal: "Playfair Display", serif;
   --Nice-font: "Cormorant Garamond", serif;
   --Unna: "Unna", serif;
}

* {
   margin: 0;
   padding: 0;
   font-family: var(--Nice-font);
   font-weight: 400;
   box-sizing: border-box;
}

body,
html {
   /* background-color: var(--Highlight); */
   overflow-x: hidden;
}

body {
   background-color: rgb(217, 255, 2);
   margin: 0 auto;
}

.App {
   text-align: center;
   background-color: var(--Highlight);
   width: 100%;
   margin: 0 auto;
}

li {
   list-style-type: none;
}

ul {
   padding: 0;
   margin: 0;
}

h2 {
   font-family: var(--Unna);
}

img {
   width: 100%;
}

a {
   appearance: none;
   background-color: var(--Jet);
   border-width: 0;
   box-sizing: border-box;
   color: var(--Alabaster);
   cursor: pointer;
   display: flex;
   flex-direction: column;
   font-family: var(--Unna);
   font-size: 15px;
   font-weight: 400;
   letter-spacing: 1px;
   line-height: 1em;
   margin: 0;
   opacity: 1;
   outline: 0;
   padding: 15px 10px;
   position: relative;
   text-align: center;
   text-decoration: none;
   text-rendering: geometricprecision;
   text-transform: uppercase;
   transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
      background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
      color 100ms cubic-bezier(0.694, 0, 0.335, 1);
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   vertical-align: baseline;
   white-space: nowrap;
}

a:before {
   animation: opacityFallbackOut 0.5s step-end forwards;
   backface-visibility: hidden;
   background-color: var(--Highlight);
   clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
   display: flex;
   align-items: center;
   justify-content: center;
   height: fit-content;
   padding: 15px 10px;
   left: 0;
   position: absolute;
   top: 0;
   transform: translateZ(0);
   transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
      -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

a:hover:before {
   animation: opacityFallbackIn 0s step-start forwards;
   clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

a:after {
   background-color: var(--Highlight);
}

a:hover {
   background-color: rgb(126, 126, 126, 0.693);
}
a:active {
   -webkit-tap-highlight-color: transparent;
}

.HeaderContainer {
   background-color: var(--Highlight);
   height: 95px;
}

.Title {
   background: none;
}

.Title:hover {
   background: none;
}


.HeaderTop {
   background-color: var(--Alabaster);
   height: 90px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.HeaderTop h1 {
   color: var(--Highlight);
   font-family: var(--Unna);
   font-weight: 400;
   font-size: 30px;
   text-transform: uppercase;
}

.HeaderBottom {
   background-color: var(--Alabaster);
   position: absolute;
   height: 40px;
   width: 100%;
   margin-top: 5px;
   z-index: 100;
}

.HeaderBottom svg {
   stroke: var(--Highlight);
   width: 40px;
}

.Footer {
   background-color: var(--Highlight);
   color: var(--Alabaster);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 10px 0;
   border-top: solid 3px var(--Alabaster);
   margin-top: 30px;
}

.Footer h2 {
   text-transform: uppercase;
}

.Footer a {
   background: none;
   padding: 10px 0;
   align-self: start;
   margin-left: 20px;
}

/* HOME PAGE */

.Tagline {
   background-image: url("https://scontent.fbrs4-1.fna.fbcdn.net/v/t39.30808-6/337558507_940644260304778_4918124472323672833_n.jpg?stp=cp6_dst-jpg&_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=NOkF9IYYfcYAX9JOGiL&_nc_ht=scontent.fbrs4-1.fna&oh=00_AfAGfXrpHEmCvEiiazQWWzaFD4XdOHliUEq0kV3mYcuRFA&oe=6431E60D");
   background-size: cover;
   background-position: center;
   height: 400px;
   width: 100%;
   margin-top: 40px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-shadow: inset 0px 5px 5px 0 rgba(71, 71, 71, 0.541);
}
.OverlayBanner {
   background-color: rgba(126, 126, 126, 0.719);
   color: white;
   padding: 20px 0px;
   border-top: 10px rgba(255, 241, 219, 0.056);
   border-bottom: 10px rgba(255, 241, 219, 0.056);
   box-shadow: inset 0px 0px 10px 1px rgb(255, 241, 219, 0.056);
   border-left: 0;
   border-right: 0;
   border-style: solid;
   width: 100%;
   backdrop-filter: blur(0px);
}

.OverlayBanner h1 {
   margin: 0;
   padding-bottom: 20px;
}

.OverlayBanner h3 {
   margin-bottom: 20px;
   padding: 0 30px;
   text-shadow: 1px 1px 1px var(--Jet);
}

.OverlayBannerLink {
   width: 140px;
   margin: 0 auto;
}
.OverlayBannerLink:before {
   content: "our services";
   width: 120px;
}

.HomeContainer {
   background-color: var(--Alabaster);
   padding: 5%;
}

.Intro {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-bottom: 40px;
}

.Intro p {
   padding: 0 20px;
}

.IntroAboutLink {
   margin-top: 20px;
   padding: 15px 20px;
}

.IntroAboutLink:before {
   content: "about";
   padding: 15px 20px;
}

.Hetas {
   padding: 10px;
   margin: 20px auto;
   border: 2px solid var(--Highlight);
}

.FeaturedHome {
   background-image: url("./Images/annie-spratt-L6GydBHMVGQ-unsplash.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   border-top: 20px solid var(--Jet);
   border-bottom: 20px solid var(--Jet);
   background-color: var(--Jet);
   color: white;
   height: 580px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   margin: 40px 0;
}

.FeaturedHomeLink {
   background-color: var(--Jet);
   box-shadow: 0px 0px 10px 0.1px rgba(155, 155, 155, 0.637);
}

.FeaturedHomeLink:before {
   content: "view gallery";
}

.FeaturedHome img {
   width: 92%;
   height: 300px;
   object-fit: cover;
   object-position: 0 50%;
   box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.747);
}

.FeaturedHome p {
   padding-bottom: 20px;
   padding-top: 10px;
}

.TestimonialHome {
   margin: 20px 0;
}

.TestimonialHome p {
   padding-bottom: 20px;
}

/* GALLERY */

.Gallery {
   margin-top: 40px;
   padding: 40px 5px;
   padding-bottom: 10px;
   background-color: var(--Alabaster);
   box-shadow: inset 0px 0px 5px -1px var(--Jet);
}

.Gallery li {
   margin: 60px 0;
}

.Gallery h3 {
   font-size: 25px;
}

.GalleryLink {
   width: 100%;
   margin: 0 auto;
   margin-top: -3px;
}

.GalleryLink:before {
   background-color: var(--Highlight);
   border-top: 3px solid var(--Alabaster);
   content: "View Details";
   width: calc(100% - 20px);
   margin-top: -3px;
}

.FeaturedGallery {
   color: var(--Alabaster);
   background-color: var(--Highlight);
   margin-bottom: 40px;
   padding-top: 20px;
}

.FeaturedGallery img {
   padding-top: 20px;
}

.FeaturedGallery h2 {
   padding-bottom: 10px;
   font-size: 25px;
   text-transform: uppercase;
}

.FeaturedGallery h3 {
   padding-bottom: 10px;
}

.FeaturedGallery p {
   font-weight: 300;
   padding: 0 30px;
}

.FeaturedGalleryLink {
   background-color: var(--Highlight);
   width: 100%;
   margin: 0 auto;
   margin-top: -3px;
}
.FeaturedGalleryLink:before {
   border-top: 3px solid var(--Alabaster);
   content: "View Details";
   width: calc(100% - 20px);
   margin-top: -3px;
}

/* FIRE PAGE */

.Fire {
   background-color: var(--Alabaster);
   margin-top: 40px;
   padding: 20px 0;
}

.Fire h2{
 margin: 10px 0;
 font-size: 30px;
}

.Fire p {
   padding: 40px 20px;
}

.fb-post{
   margin-top: 40px;
   height: 500px;
}